<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header') %>
  <title>Gestion de Insignias</title>
  <link rel="stylesheet" href="css/tableStyle.css">
</head>
<body>
  <%- include('../partials/navigation') %>
  <h1>
    Insignias
  </h1>

  <a href="/createInsignia" class="btn btn-outline-primary mt-4 a-margin">Nuevo</a>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <% Object.keys(datos[0]).forEach(function(key) { %>
            <% if (key === 'id') { %>
              <th class="hidden-column"><%= key %></th>
            <% } else { %>
              <th><%= key %></th>
            <% } %>
          <% }); %>
        </tr>
      </thead>
      <tbody>
        <% datos.forEach(function(dato) { %>
          <tr>
            <% Object.keys(dato).forEach(function(key) { %>
              <% if (key === 'id') { %>
                <td class="hidden-column"><%= dato[key] %></td>
              <% } else { %>
                <td><%= dato[key] %></td>
              <% } %>
            <% }); %>
            <td>
              <a href="/editInsignia/<%= dato.id %>" class="btn btn-outline-info">Editar</a>
              <a href="/deleteInsignia/<%= dato.id %>" class="btn btn-outline-danger">Borrar</a>
            </td>
          </tr>
        <% }); %>
        
      </tbody>
    </table>
  </div>

  <%- include('../partials/footer') %>
</body>
</html>
