<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/header') %>
    <title>Nuevo Examen</title>
</head>

<body>

  <%- include('../partials/navigation') %>
    <div class="container p-4">

      <div class="card border-secondary">
        <div class="card-header">Nuevo Registro</div>
        <div class="card-body bg-dark text-light">

          <form method="POST" action="/createExamen" >

            <div class="mb-3">
              <label for="title">Nombre</label>
              <input name="nombre" type="text" class="form-control rounded-0" placeholder="Entry a Name" autofocus
                required>
            </div>

            <div class="mb-3">
              <label for="title">Url</label>
              <input name="url" type="text" class="form-control rounded-0" placeholder="url" autofocus required>
            </div>

            <div class="mb-3">
                <label for="category">Category</label>
                <select name="categoria_id" class="form-select" aria-label="Default select example">
                    <option selected></option>
                    <% optionsCategory.forEach(function(option) { %>
                    <option value="<%= option.id %>"><%= option.nombre %></option>
                    <% }); %>
                </select>
            </div>
            
            <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
            <a href="/examenTable" class="btn btn-secondary">Cancelar</a>
          </form>
        </div>
      </div>
    </div>
    </div>

    <%- include('../partials/footer')%>
</body>

</html>