<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header') %>
  <title>Editar Usuario</title>
</head>
<body>
  <%- include('../partials/navigation') %>
  <% if (datos) {%>
  <div class="container p-4">
    <div class="card border-secondary">
      <div class="card-header">Editar Registro</div>
      <div class="card-body bg-dark text-light">
        <form method="POST" action="/editUsuario">
          <input id="id" name = "id" value="<%= datos.id %>" hidden >
          <div class="mb-3">
            <label for="title">Nombre</label>
            <input name="nombre" type="text" class="form-control rounded-0" placeholder="Entry a Name" value="<%= datos.nombre %>" autofocus required>
          </div>

          <div class="mb-3">
            <label for="title">Url</label>
            <input name="url" type="text" class="form-control rounded-0" placeholder="url" value="<%= datos.url %>" autofocus required>
          </div>

          <div class="mb-3">
            <label for="category">Category</label>
            <select name="categoria_id" class="form-select" aria-label="Default select example">
              <option disabled>Open this select menu</option>
              <% optionsCategory.forEach(function(option) { %>
                <option value="<%= option.id %>" <%= datos.categoria_id == option.id ? 'selected' : '' %>><%= option.nombre %></option>
              <% }); %>
            </select>
          </div>

          <div class="mb-3">
            <label for="video">Video</label>
            <select name="video_id" class="form-select" aria-label="Default select example">
              <option disabled>Open this select menu</option>
              <% optionVideos.forEach(function(option) { %>
                <option value="<%= option.id %>" <%= datos.video_id == option.id ? 'selected' : '' %>><%= option.titulo %></option>
              <% }); %>
            </select>
          </div>

          <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
          <a href="/usuarioGestion" class="btn btn-secondary">Cancelar</a>
        </form>
      </div>
    </div>
  </div>
  <% } %>
  <%- include('../partials/footer') %>
</body>
</html>
