<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header') %>
  <title>Editar Usuario</title>
</head>
<body>
  <%- include('../partials/navigation') %>
  <% if (datos) {%>
  <div class="container p-4">
    <div class="card border-secondary">
      <div class="card-header">Editar Registro</div>
      <div class="card-body bg-dark text-light">
        <form method="POST" action="/editUsuario">
          <input id="userId" name = "userId" value="<%= datos.userId %>" hidden >
          <div class="mb-3">
            <label for="rol">Rol</label>
            <select name="roleId" class="form-select" aria-label="Default select example">
              <option disabled>Open this select menu</option>
              <% optionsRoles.forEach(function(option) { %>
                <option value="<%= option.roleId %>" <%= datos.roleId == option.roleId ? 'selected' : '' %>><%= option.role %></option>
              <% }); %>
            </select>
          </div>

          <div class="mb-3">
            <label for="title">Nombre</label>
            <input name="nombre" type="text" class="form-control rounded-0" placeholder="Nombre" value="<%= datos.name %>" autofocus required>
          </div>

          <div class="mb-3">
            <label for="title">Apellido</label>
            <input name="apellido" type="text" class="form-control rounded-0" placeholder="Apellido" value="<%= datos.lastname %>" autofocus required>
          </div>

          <div class="mb-3">
            <label for="title">E-Mail</label>
            <input name="email" type="text" class="form-control rounded-0" placeholder="Mail" value="<%= datos.email %>" autofocus required>
          </div>

          <div class="mb-3">
            <label for="title">Telefono</label>
            <input name="mobile" type="text" class="form-control rounded-0" placeholder="Telefono" value="<%= datos.mobile %>" autofocus required>
          </div>
          
          <div class="mb-3">
            <label for="title">Provincia</label>
            <input name="provincia" type="text" class="form-control rounded-0" placeholder="Provincia" value="<%= datos.provincia %>" autofocus required>
          </div>

          <div class="mb-3">
            <label for="title">Ciudad</label>
            <input name="ciudad" type="text" class="form-control rounded-0" placeholder="Ciudad" value="<%= datos.ciudad %>" autofocus required>
          </div>

          <div class="mb-3">
            <label for="title">Corralon</label>
            <input name="Corralon" type="text" class="form-control rounded-0" placeholder="Corralon" value="<%= datos.corralon %>" autofocus required>
          </div>

          <div class="mb-3">
            <label for="title">Profesion</label>
            <input name="profesion" type="text" class="form-control rounded-0" placeholder="Profesion" value="<%= datos.profesion %>" autofocus required>
          </div>

          <div class="mb-3">
            <label for="title">Antigüedad</label>
            <input name="antiguedad" type="text" class="form-control rounded-0" placeholder="Antiguedad" value="<%= datos.antiguedad %>" autofocus required>
          </div>
          <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
          <a href="/usuarioGestion" class="btn btn-secondary">Cancelar</a>
        </form>
      </div>
    </div>
  </div>
  <% } %>
  <%- include('../partials/footer') %>
</body>
</html>
