<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header') %>
  <title>Consulta de Usuarios</title>
  <link rel="stylesheet" href="css/tableStyle.css">
</head>
<body>
  <%- include('../partials/navigation') %>
  <h1>
    Usuarios
  </h1>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <% Object.keys(datos[0]).forEach(function(key) { %>
            <th><%= key %></th>
          <% }); %>
        </tr>
      </thead>
      <tbody>
        <% datos.forEach(function(dato) { %>
          <tr>
            <% Object.values(dato).forEach(function(value) { %>
              <td><%= value %></td>
            <% }); %>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <%- include('../partials/footer') %>
</body>
</html>
