<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header') %>
  <title>Gestion de Usuarios</title>
  <link rel="stylesheet" href="css/tableStyle.css">
<!--   <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
 -->
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.0/css/dataTables.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/2.1.0/js/dataTables.min.js"></script>
</head>
<body>
  <%- include('../partials/navigation') %>
  <h1>
    Usuarios
  </h1>

  <a href="/createUsuario" class="btn btn-outline-primary mt-4 a-margin">Nuevo</a>
  <div class="table-container">
    <table id="usuarioGestion">
      <thead>
        <tr>
          <% Object.keys(datos[0]).forEach(function(key) { %>
            <% if (key === 'userid') { %>
              <th class="hidden-column"><%= key %></th>
            <% } else { %>
              <th><%= key %></th>
            <% } %>
          <% }); %>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% datos.forEach(function(dato) { %>
          <tr>
            <% Object.keys(dato).forEach(function(key) { %>
              <% if (key === 'userid') { %>
                <td class="hidden-column"><%= dato[key] %></td>
              <% } else { %>
                <td><%= dato[key] %></td>
              <% } %>
            <% }); %>
            <td>
              <a href="/deleteUsuario/<%= dato.userid %>" class="btn btn-outline-danger">Borrar</a>
              <a href="/editUsuario/<%= dato.userid %>" class="btn btn-outline-info">Editar</a>
            </td>
          </tr>
        <% }); %>
        
      </tbody>
    </table>
  </div>

  <%- include('../partials/footer') %>
  <script> 
new DataTable('#usuarioGestion', {
        order: [],
        info:false,
        bFilter: false,
        bLengthChange: false, // HIDE SHOW ENTERIES
        responsive: true,
        pageLength: 7,
        paging:true,
        searching:false
    });
  </script>
</body>
</html>
