<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/header') %>
    <title>Table</title>
</head>

<body>

  <%- include('../partials/navigation') %>
  <table>
    <thead>
      <tr>
        <% Object.keys(datos[0]).forEach(function(key) { %>
          <th><%= key %></th>
        <% }); %>
      </tr>
    </thead>
    <tbody>
      <% datos.forEach(function(dato) { %>
        <tr>
          <% Object.values(dato).forEach(function(value) { %>
            <td><%= value %></td>
          <% }); %>
        </tr>
      <% }); %>
    </tbody>
  </table>
  

    <%- include('../partials/footer')%>
</body>

</html>