<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header') %>
  <title>Consulta de Videos</title>
  <link rel="stylesheet" href="css/tableStyle.css">
  <link rel="stylesheet" href="css/filterStyle.css">
</head>
<body>
  <%- include('../partials/navigation') %>
  <h1>
    Videos
  </h1>

  <div class="filters-container">
    <form id="filters-form" method="POST" action="/videoTable" class="row">
      <% let counter = 0; %>
      <% Object.keys(datos[0]).forEach(function(key) { %>
        <% if (key !== 'id') { %>
          <div class="col-md-6">
            <div class="form-group">
              <label for="<%= key %>"><%= key.charAt(0).toUpperCase() + key.slice(1) %>:</label>
              <input type="text" name="<%= key %>" class="form-control" id="<%= key %>" placeholder="Search <%= key %>" value="<%= filtros[key] || '' %>">
            </div>
          </div>
          <% counter++; %>
          <% if (counter % 2 === 0) { %>
            <div class="w-100"></div>
          <% } %>
        <% } %>
      <% }); %>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Buscar</button>
        <button type="button" class="btn btn-secondary" onclick="limpiarFiltros()">Limpiar Filtros</button>
        <button type="button" class="btn btn-success" onclick="exportarDatos()">Exportar</button>
      </div>
    </form>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <% Object.keys(datos[0]).forEach(function(key) { %>
            <% if (key === 'id') { %>
              <th class="hidden-column"><%= key %></th>
            <% } else { %>
              <th><%= key %></th>
            <% } %>
          <% }); %>
        </tr>
      </thead>
      <tbody>
        <% datos.forEach(function(dato) { %>
          <tr>
            <% Object.keys(dato).forEach(function(key) { %>
              <% if (key === 'id') { %>
                <td class="hidden-column"><%= dato[key] %></td>
              <% } else { %>
                <td><%= dato[key] %></td>
              <% } %>
            <% }); %>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <%- include('../partials/footer') %>
  <script>
    function limpiarFiltros() {
      document.querySelectorAll('#filters-form input').forEach(input => input.value = '');
      document.getElementById('filters-form').submit();
    }

    function exportarDatos() {
      const form = document.getElementById('filters-form');
      const formData = new FormData(form);

      fetch('/exportVideo', {
        method: 'POST',
        body: formData
      })
      .then(response => response.blob())
      .then(blob => {
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.style.display = 'none';
        a.href = url;
        a.download = 'videos.xlsx';
        document.body.appendChild(a);
        a.click();
        window.URL.revokeObjectURL(url);
      })
      .catch(error => console.error('Error:', error));
    }
  </script>
</body>
</html>
