<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header') %>
  <title>Editar Cupon</title>
</head>
<body>
  <%- include('../partials/navigation') %>
  <% if (datos) {%>
  <div class="container p-4">
    <div class="card border-secondary">
      <div class="card-header">Editar Registro</div>
      <div class="card-body bg-dark text-light">
        <form method="POST" action="/editCupon">
          <input id="id" name = "id" value="<%= datos.id %>" hidden >
          <div class="mb-3">
            <label for="title">Codigo</label>
            <input name="codigo" type="text" class="form-control rounded-0" placeholder="Entry a Name" value="<%= datos.codigo %>" autofocus required>
          </div>

          <div class="mb-3">
            <label for="title">Vencimiento</label>
            <input name="vencimiento" type="datetime-local" class="form-control rounded-0" placeholder="vencimiento" value="<%= datos.vencimiento %>" autofocus required>
          </div>

          <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
          <a href="/cuponGestion" class="btn btn-secondary">Cancelar</a>
        </form>
      </div>
    </div>
  </div>
  <% } %>
  <%- include('../partials/footer') %>
</body>
</html>
